.table{
	margin: 2px;

}


.table>tbody>tr{
	border: 0px;

}


.table>tbody>tr>td{
	border-top-width: 0px;

}

.affiche {
			text-align: center;
			margin-bottom: 50px;
			background-color: #FFFFFF;
			border-radius: 5px;
			border: solid 2px rgb(4, 0, 255);
			padding-bottom: 50px;
			padding-top: 20px;
		}

.container.form{
			margin-bottom: 50px;
			background-color: rgb(255, 255, 255);
			border-radius: 5px;
			border: solid 2px #000000;
			padding-left: 15%;
			padding-right: 15%;
			padding-top: 20px;
			width: inherit;
}

.container.filtre{
			margin-bottom: 30px;
			background-color: white;
			border-radius: 5px;
			border: solid 1px black;
			padding-left: 15%;
			padding-right: 15%;
			padding-top: 20px;
			padding-bottom: 20px;
			width: inherit;
}

.carte{
	position:relative; width:600px; height:400px;
}

.button.small.lieu{
	background-color: #BB2020;
	margin-top: 20px;
}
.col-sm-6.inscription{
	padding: 10px;
	padding-bottom: 30px;
}

.col-sm-12.inscription{
	padding-bottom: 30px;
	border-width: 3px;
}



.container.affiche {
}

.container.affiche {
    width: inherit;
}

.style22{
	min-height:1200px;
	background-color: whitesmoke;
}


form.navbar-form.navbar-left.navbar-fixed-top.special-fix {
    position: fixed;
    top: 20%;
    left: 30px;
    width: 200px;
}

form.navbar-form.navbar-left.navbar-fixed-top.special-fix > ul {}


.wrapper.style1.special.Affiche{padding-left: 25%;padding-right: 5%;}


.wrapper.style1.special.Lieu{padding-left: 25%;padding-right: 5%;}


.wrapper.style1.special.Utilisateur{padding-left: 25%;padding-right: 5%;}

.wrapper.style3.validform{padding-top: 400px}

.text-form{
	font-size: 12px;
	line-height: 1.9;
	text-align: left;
}
