.table{
	margin: 2px;

}


.table>tbody>tr{
	border: 0px;

}


.table>tbody>tr>td{
	border-top-width: 0px;

}

.affiche {
			text-align: center;
			margin-bottom: 50px;
			background-color: #FFFFFF;
			border-radius: 5px;
			border: solid 2px rgb(4, 0, 255);
			padding-bottom: 50px;
			padding-top: 20px;
		}

.container.form{
			margin-bottom: 50px;
			background-color: white;
			border-radius: 5px;
			border: solid 2px #3CADD4;
			padding-left: 15%;
			padding-right: 15%;
			padding-top: 20px;
}

.container.filtre{
			margin-bottom: 30px;
			background-color: white;
			border-radius: 5px;
			border: solid 1px black;
			padding-left: 15%;
			padding-right: 15%;
			padding-top: 20px;
			padding-bottom: 20px;
}

.carte{
	position:relative; width:600px; height:400px;
}

.button.small.lieu{
	background-color: #BB2020;
	margin-top: 20px;
}
.col-sm-6.inscription{
	padding: 10px;
	padding-bottom: 30px;
}

.col-sm-12.inscription{
	padding-bottom: 30px;
	border-width: 3px;
}



.container.affiche {
}

.container.affiche {
    width: 30%;
}

.style22{
	min-height:1200px;
}

